body {
	margin-top: 65px;
}
#results {
	margin-top: 15px;
}
.alert {
	margin-top: 15px;
	text-align: center;
}
.middle {
	margin-bottom: 35px;
	text-align: center;
	font-size: 125%;
}
.about {
	text-align: center;
}
.red {
	color: red;
}
.table {
	margin-top: 10px;
}

.input-group.mb-3 {
	max-width: 600px;
	margin: 0 auto 20px auto;
}

.btn-primary {
	min-width: 100px;
}

.middle {
	margin-bottom: 35px;
	text-align: center;
	font-size: 125%;
}

.fw-bold.text-danger {
	margin-top: 20px;
}

.error {
	border-color: red;
}
.hide {
	display: none;
}